<ul>
  {% for post in postslist %}
    <li >
      <a href="{{ post.url | url }}">
        <div class="rounded shadow-xl bg-dark-400 hover:bg-dark-300 mb-4 p-4">
          <h2 class="font-extrabold text-3xl text-accent">
            {{ post.data.title }}
          </h2>
          <small>
            <time class="text-grey" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
          </small>
          <p class="mt-4">{{ post.data.description }}</p>
        </div>
      </a>
    </li>
  {% endfor %}
</ul>