---
import { CollectionEntry, getCollection } from "astro:content";

import BaseLayout from "@/layouts/BaseLayout.astro";
import FormattedDate from "@/components/FormattedDate.astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"posts">;

const post = Astro.props;
const { Content } = await post.render();
---

<BaseLayout title={post.data.title} description={post.data.description}>
  {
    post.data.updatedDate && (
      <FormattedDate
        className="text-sm text-zinc-200"
        date={post.data.updatedDate}
      />
    )
  }
  <h1>{post.data.title}</h1>
  <Content />
</BaseLayout>
