---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "@/consts";
import BlogList from "@/components/BlogList.astro";
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <h1>Check out my posts:</h1>
  <section>
    <BlogList />
  </section>
</BaseLayout>
