---
layout: layouts/base.njk
---

<header class="mb-8">
    <h1 class="text-3xl text-accent">{{title}}</h1>
    <time class="text-grey">{{ date | readableDate }}</time>
</header>
<article>{{ content | safe }}</article>