---
import { SITE_DESCRIPTION, SITE_TITLE } from "@/consts";
import Index from "@/components/Index.md";
import BaseLayout from "@/layouts/BaseLayout.astro";
import BlogList from "@/components/BlogList.astro";
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <Index />
  <h1>Check out my latest posts:</h1>
  <BlogList end={3} />
</BaseLayout>
