---
import { getCollection } from "astro:content";
import FormattedDate from "@/components/FormattedDate.astro";
const posts = (await getCollection("posts")).sort(
  (a, b) => a.data.updatedDate.valueOf() - b.data.updatedDate.valueOf()
);
---

<ul class="grid gap-4 pl-0 list-none">
  {
    posts.map((post) => (
      <li>
        <a class="text-white" href={`/posts/${post.slug}/`}>
          <div class="bg-zinc-900 hover:opacity-80 p-4 rounded-md w-full flex justify-between">
            <span>{post.data.title}</span>
            <FormattedDate date={post.data.updatedDate} />
          </div>
        </a>
      </li>
    ))
  }
</ul>
