---
import { getCollection } from "astro:content";
import FormattedDate from "@/components/FormattedDate.astro";
const posts = (await getCollection("posts")).sort(
  (a, b) => a.data.updatedDate.valueOf() - b.data.updatedDate.valueOf()
);

type Props = {
  start?: number;
  end?: number;
};

const { start = 0, end } = Astro.props;

const sliceValue = [start, end].filter(Number.isInteger);
---

<ul class="grid gap-4 pl-0 list-none">
  {
    posts
      .map((post) => (
        <li>
          <a class="text-white" href={`/posts/${post.slug}`}>
            <div class="bg-zinc-900 hover:opacity-80 p-4 sm:gap-4 rounded-md w-full flex sm:justify-between">
              <span>{post.data.title}</span>
              <FormattedDate className="hidden sm:block" date={post.data.updatedDate} />
            </div>
          </a>
        </li>
      ))
      .slice(...sliceValue)
  }
</ul>
