---
type Props = {
  href: string;
};

const { href } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a
  href={href}
  class:list={[
    "hover:underline",
    { "text-white ": !isActive },
    { "text-orange-600 underline": isActive },
  ]}
>
  <slot />
</a>
