---
import HeaderLink from "./HeaderLink.astro";
---

<header class="flex justify-between bg-zinc-900 p-4 rounded-md">
  <h2><a class="text-white" href="/">blntrsz</a></h2>
  <nav class="grid gap-4 grid-flow-col">
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/posts">Posts</HeaderLink>
  </nav>
</header>
