<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta name="description" content="{{ description  }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
  </head>
  <body>
      <header class="layout-header-1-0-0">
        {% include "../components/navigation.njk" %}
      </header>
      <main class="layout-constrained-1-0-0 layout-content-1-0-0">
        {{ content | safe }}
      </main>
  </body>
</html>
